body,
html {
  padding: 0;
  margin: 0;
  background: #22212C;
  color: #f8f8f2;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  line-height: 1em;
}

a:link,
a:active,
a:visited {
  color: #f8f8f2;
  background-color: transparent;
  text-decoration: none;
}

#app {
  padding: 20px;
}

#content {
  padding: 20px 0;
}

.btn {
  padding: 5px;
  cursor: pointer;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}